

.movie-project{
    border-radius: 4px;
    padding: 20px  20px 20px 40px ;
   
    margin-top: 30px;
    display: flex;
    width: 80%;
}
.movie-content{
    padding-left: 20px;
    font-family: 'Space-Grotesk', sans-serif;
}
.movie-project .movie-content #movie-title{
    text-align: left;
    color: white;
    font-size: 22px;
    letter-spacing: 5px;
    font-family: 'Space-Grotesk', sans-serif;
}
.movie-content #desc{
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Space-Grotesk', sans-serif;
}
.movie-content #btn-container #btn-link{
    color: #fdfdfd;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Space-Grotesk', sans-serif;
    border: 4px white solid;
    border-radius: 45px;
    padding: 12px 34px;
    transition: color 1s ease, background-color 1s ease;
}
.movie-content #btn-container #btn-link:hover{
    color: #2B2B2B;
    background-color: white;
}
.movie-content #btn-container{
    margin-top: 60px;
    text-align: center;
}
 .movie-container{
   display: flex;
   justify-content: center;
}

.use-language{
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Space-Grotesk', sans-serif;
    padding: 12px 34px;
}
.quizz-content #btn-container #btn-link{
    color: #fdfdfd;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Space-Grotesk', sans-serif;
    border: 4px white solid;
    border-radius: 45px;
    padding: 12px 34px;
}

@media only screen and (min-width: 600px){


    .movie-project{
        border-radius: 4px;
        padding: 20px  20px 20px 40px ;
       
        margin-top: 30px;
        display: block;
        width: 90%;
    }
.movie-project .movie-content #movie-title{
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 'Space-Grotesk', sans-serif;
}
.movie-content #desc{
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Space-Grotesk', sans-serif;
}
    
 
.use-language{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Space-Grotesk', sans-serif;
    padding: 12px 34px;
}   

.movie-content #btn-container #btn-link{
    color: #000000;
      text-decoration: none;
      
      letter-spacing: 2px;
      border-radius: 45px;
      padding: 12px 34px;
      font-family: 'Space-Grotesk', sans-serif;
      border: 4px rgb(0, 0, 0) solid;
      transition: color 1s ease, background-color 1s ease;
      font-size: 18px;
      padding: 12px 34px;
    }
  
  .movie-content #btn-container #responsive-btn-link:active{
    color: #2B2B2B;
    background-color: rgb(0, 0, 0);
  }
  .movie-content .use-language{
    display: none;
  }

  .movie-content #btn-container #responsive-btn-link{
 display: none;}
 
.movie-content #btn-container{
    padding: 25px 5px 5px 5px;
    height: 80px;
    margin: 10px;
    text-align: center;
}
}


@media only screen and (min-width:812px){
   


    .quizz-content #btn-container #btn-link{
        color: #fdfdfd;
        text-decoration: none;
        font-size: 25px;
        letter-spacing: 2px;
        font-family: 'Space-Grotesk', sans-serif;
        border: 4px white solid;
        border-radius: 45px;
        padding: 12px 34px;
    }
    .quizz-content .use-language {
        color: white;
        text-decoration: none;
        font-size: 23px;
        letter-spacing: 2px;
        font-family: 'Space-Grotesk', sans-serif;
        padding: 12px 34px;
    }
    
.movie-container .responsive-quizz-img img {
    margin-left: -20px;
    width: 600px;
    height: auto;
}
.movie-project .movie-content #movie-title {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Space-Grotesk', sans-serif;
}
.movie-content #desc {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 28px;
    line-height: 1.3;
    font-family: 'Space-Grotesk', sans-serif;
}
.movie-project {
    border-radius: 4px;
    padding: 20px 20px 20px 40px;
    margin-top: 30px;
    display: block;
    width: 90%;
}
.use-language {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 23px;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Space-Grotesk', sans-serif;
    padding: 12px 34px;
}
.movie-content #btn-container #btn-link{
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Space-Grotesk', sans-serif;
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 45px;
    padding: 12px 34px;
}
}


@media only screen and (min-width:1400px){
    .movie-content #desc {
        color: rgb(0, 0, 0);
        text-align: left;
        font-size: 30px;
        line-height: 1.3;
        font-family: 'Space-Grotesk', sans-serif;
        transition: color 0.5s;
    }
   
}